AVIATIONSTACK_API_KEY=
LITEAPI_KEY=
LITEAPI_SANDBOX_KEY=
LITEAPI_BASE_URL=https://api.liteapi.travel/v3.0

NEXT_PUBLIC_VOYAGO_TRAVELS_WHATSAPP_NUMBER=17078028394

LEAD_EMAIL_HOST=
LEAD_EMAIL_PORT=465
LEAD_EMAIL_SECURE=true
LEAD_EMAIL_USER=
LEAD_EMAIL_PASSWORD=
LEAD_EMAIL_TO=
